/* defines font for all text */
.body {
    font-family: 'Poppins', sans-serif;
}

img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* more text stuff */
.content {
    position: fixed;
    background: transparent;
    width: 100%;
    color: #f1f1f1;
    z-index: 2;
}

/* text */
h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -250%);
    font-weight: 500;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -200%);
    font-weight: 200;
}

/* button */
button {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #505050;
    padding: 8px 20px;
    font-size: 16px;
    opacity: 1;
    transition: 0.2s;
    border-radius: 3px;
}

button:hover {opacity: 0.8;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -20%);
}
